<div class="form">
    <form class="example-form" [formGroup]="formR" (ngSubmit)="sendRegister($event)">
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput type="text" formControlName="name">
            <mat-hint *ngIf="nameValue?.invalid && nameValue?.touched">
              {{getErrorName()}}
            </mat-hint>
          </mat-form-field>
        </td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" formControlName="last_name">
            <mat-hint *ngIf="lastNameValue?.invalid && lastNameValue?.touched">
              {{getErrorLastName()}}
            </mat-hint>
          </mat-form-field></td>
        </tr></table>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Age</mat-label>
          <input matInput type="number" formControlName="age">
          <mat-hint *ngIf="ageValue?.invalid && ageValue?.touched" >
            {{getErrorAge()}}
          </mat-hint>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email"> 
          <mat-hint *ngIf="emailValue?.touched" >
            {{getErrorEmail()}}
          </mat-hint>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password"> 
          <mat-hint *ngIf="passwordValue?.invalid && passwordValue?.touched" >
            {{getErrorPassword()}}
          </mat-hint>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Sign Up</button>
        <h3>Already have account? <a [routerLink]="['/login']">(Click here)</a></h3>
      </form>
</div>